body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0%;
  background-color: #f4f4f4;
}
h1 {
  color: #333;
}
p {
  color: #555;
  font-size: 1.1em;
  margin-bottom: 20px;
}

.C{
  text-align: center;
}

.profile-pic {
  float: left;
  margin-right: 15px;
  max-width: 355px;
  border-radius: 2%;
  margin-bottom: 15px;
}

.about{
  background-color: #00000015;
  padding: 0%;
}

a{
  text-decoration: none;
  color: black;
}

.a{
  text-align: center;
  font-size: 100%;
  padding-bottom: 2%;
}

.C{
  padding-bottom: 2%;
  padding-top: 2%;
}

.hlink{
  margin-right: 10%;
}

.image{
  max-width: 15%;
}
